---
layout: base.njk
title: Devlog
---

<section class="devlog-list">
  <h2>DEVLOG</h2>
  {%- for post in collections.elsewhere | reverse %}
  <a href="{{ post.url }}" class="devlog-card">
    <div class="devlog-left">
      <p class="devlog-tag">ELSEWHERE</p>
      <h3 class="devlog-title">{{ post.data.title }}</h3>
      <p class="devlog-excerpt">{{ post.templateContent | striptags | truncate(150) }}</p>
    </div>
    {% set thumb = post.templateContent | firstImage %}
    {% if thumb %}
    <div class="devlog-thumb">
    <img src="{{ thumb }}" alt="{{ post.data.title }}">
    </div>
    {% endif %}
  </a>
  <hr class="devlog-divider">
  {%- endfor %}
</section>