<nav>
  <a href="/" class="logo">
    <img src="/assets/logo-icon" alt="Team Belladona">
  </a>
  <div class="links">
    <a href="/#projects">Projects</a>
    <a href="/devlog">Devlog</a>
    <a href="/#team">Team</a>
  </div>
</nav>